src/modules/_pycashe_/
C:/Users/zanko/my_project/testing/my_learning/my_learning/.vs/
C:/Users/zanko/my_project/testing/my_learning/my_learning/_pycashe_/
C:/Users/zanko/my_project/testing/my_learning/my_learning/djangosites/
C:/Users/zanko/my_project/testing/my_learning/my_learning/БД/
C:/Users/zanko/my_project/testing/my_learning/my_learning/мои работы/_pycashe_/